<div class="aboutme-wrapper">
  <div
    data-aos="zoom-out-right"
    data-aos-offset="100"
    data-aos-delay="100"
    class="aboutme-img"
  >
    <img src="../../assets/images/about_me/Personality.png" />
  </div>
  <div data-aos="fade-up" data-aos-offset="100" class="aboutme-text">
    <h2>About Me</h2>
    <p>
      Hey there, This is Bala Shekhar , final year student at IIT
      Dhanbad(BTech).A competitive programmer. <br />
      I find my interest in coding and finding the underlying algorithms and
      developing full stack web application and some android Apps.
      <br />
      So far i have learnt html, css, java-script, react, redux, mongoDB,
      Nodejs, express, git, java, and android. <br />
      I'm still enthusiastically grabbing into other programming languages and
      frameworks, and principles that I can integrate into my coding web.
    </p>
  </div>
</div>
