  <div data-aos="fade-up" class="skill-container">
    <div class="skill-container1">
      <h2>Skills</h2>
      <p>
        Over the term of my college life, <br />
        I have been teaching myself different things and most of it was on my
        own because none of the colleges teach you the latest and advanced tech.
        <br /><br />"Exploring is something you have to do on your own"
      </p>
      <div class="skills-main-div">
        <div class="skill-container-tabs">
          <a id="tab-1" class="active">
            <i class="fas fa-code"></i> Technical</a
          >
          <a id="tab-2"><i class="far fa-edit"> </i> Design</a>
          <a id="tab-3"><i class="fa fa-tools"></i> Tools</a>
          <a style="display: none" id="tab-4"
            ><i class="fa fa-tasks"></i> Programming</a
          >
        </div>

        <div id="tab-1-icons" class="skill-container-logos">
          <img
            width="50px"
            height="50px"
            id="c-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/c.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="cplusplus-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/c++.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="algo-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/algo.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="ds-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/ds.png"
            alt=""
          />

          <img
            width="50px"
            height="50px"
            id="react-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/react.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="js-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/js.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="firebase-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/firebaseLogo.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="mongodo-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/mongo.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="express-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/express.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="android-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/android.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="java-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/java.jpg"
            alt=""
          />
        </div>

        <div
          style="display: none"
          id="tab-2-icons"
          class="skill-container-logos"
        >
          <img
            width="50px"
            height="50px"
            id="css-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/css.png"
            alt=""
          />

          <img
            width="50px"
            height="50px"
            id="figma-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/figma.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="materialui-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/mUI.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="xml-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/xml.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="bootstrap-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/bootstrap.png"
            alt=""
          />
        </div>

        <div
          style="display: none"
          id="tab-3-icons"
          class="skill-container-logos"
        >
          <img
            width="50px"
            height="50px"
            id="git-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/git.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="postman-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/postman.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="msexcel-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/msexcel.png"
            alt=""
          />
        </div>

        <div
          style="display: none"
          id="tab-4-icons"
          class="skill-container-logos"
        >
          <img
            width="50px"
            height="50px"
            id="team-leader-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/leaderArtboard 1.png"
            alt=""
          />
            <img
            width="50px"
            height="50px"
            id="event-manager-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/eventManagementArtboard 1.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="dropskill-container">
      <div class="drop-skill-wrapper">
        <div class="drop-img">
          <div
            id="div1"
            ondrop="drop(event)"
            ondragover="allowDrop(event)"
          ></div>
          <h2 id="drop-title">Drop a Skill</h2>
        </div>
        <div id="drop-text" class="drop-desc">
          This is a skills record selector. It'll help you know about my skills
          in an interactive way. Drag a skill from the skillset and drop in the
          above circle! (Just tap on the skill if you are using a mobile phone)
        </div>
        <div class="drop-texts">
          <div class="drop-projects">
            <h4>Number of Projects <span id="drop-np">-</span></h4>
          </div>

          <div class="drop-year">
            <h4>Experience (years) <span id="drop-ex">-</span></h4>
          </div>
        </div>
        <div class="drop-bar">
          <div class="drop-bar-line">
            <div id="drop-bar-line-value" class="drop-bar-line-value"></div>
          </div>
          <img
            id="drop-bar-level-img1"
            src="../../assets/images/skills/beginner.png"
            alt=""
          />
          <img
            id="drop-bar-level-img2"
            src="../../assets/images/skills/inter.png"
            alt=""
          />
          <img
            id="drop-bar-level-img3"
            src="../../assets/images/skills/expert.png"
            alt=""
          />
        </div>
        <div class="drop-level">
          <span>Beginner</span>
          <span>Intermediate</span>
          <span>Expert</span>
        </div>
      </div>
    </div>
  </div>
</div>
