  <div data-aos="fade-up" class="skill-container">
    <div class="skill-container1">
      <h2>Skills</h2>
      <p>
        I've always been passionate about self-learning <br /> 
        and exploring new technologies on my own,
        as colleges often don't teach latest advancements.
        <br /><br />"Exploring is something you have to do on your own"
      </p>
      <div class="skills-main-div">
        <div class="skill-container-tabs">
          <a id="tab-1" class="active">
            <i class="fas fa-code"></i> code&build</a
          >
          <a id="tab-2"><i class="far fa-edit"></i> data&security</a>
          <a id="tab-3"><i class="fa fa-tools"></i> devops&cloud</a>
        </div>

        <div id="tab-1-icons" class="skill-container-logos">
          <img
            width="50px"
            height="50px"
            id="c-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/ruby.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="cplusplus-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/go.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="algo-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/c.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="ds-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/cpp.png"
            alt=""
          />

          <img
            width="50px"
            height="50px"
            id="react-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/python.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="js-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/java.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="firebase-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/html.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="mongodo-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/css.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="express-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/javascript.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="android-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/react.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="java-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/nodejs.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="java-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/android.png"
            alt=""
          />
        </div>

        <div
          style="display: none"
          id="tab-2-icons"
          class="skill-container-logos"
        >
          <img
            width="50px"
            height="50px"
            id="css-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/mysql.png"
            alt=""
          />

          <img
            width="50px"
            height="50px"
            id="figma-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/mongo.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="materialui-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/firebase.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="xml-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/ga.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="bootstrap-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/oauth.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="bootstrap-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/openid.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="bootstrap-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/saml.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="bootstrap-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/passkey.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="bootstrap-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/grpc.png"
            alt=""
          />
        </div>

        <div
          style="display: none"
          id="tab-3-icons"
          class="skill-container-logos"
        >
          <img
            width="50px"
            height="50px"
            id="git-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/docker.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="postman-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/k8s.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="msexcel-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/aws.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="msexcel-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/terraform.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="msexcel-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/ci_cd.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="msexcel-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/cloudflare.png"
            alt=""
          />
          <img
            width="50px"
            height="50px"
            id="msexcel-logo"
            draggable="true"
            ondragstart="drag(event)"
            src="../../assets/images/skills/datadog.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="dropskill-container">
      <div class="drop-skill-wrapper">
        <div class="drop-img">
          <div
            id="div1"
            ondrop="drop(event)"
            ondragover="allowDrop(event)"
          ></div>
          <h2 id="drop-title">Drop a Skill</h2>
        </div>
        <div id="drop-text" class="drop-desc">
          This is a skills record selector. It'll help you know about my skills
          in an interactive way. Drag a skill from the skillset and drop in the
          above circle! (Just tap on the skill if you are using a mobile phone)
        </div>
        <div class="drop-texts">
          <div class="drop-projects">
            <h4>Number of Projects <span id="drop-np">-</span></h4>
          </div>

          <div class="drop-year">
            <h4>Experience (years) <span id="drop-ex">-</span></h4>
          </div>
        </div>
        <div class="drop-bar">
          <div class="drop-bar-line">
            <div id="drop-bar-line-value" class="drop-bar-line-value"></div>
          </div>
          <img
            id="drop-bar-level-img1"
            src="../../assets/images/skills/beginner.png"
            alt=""
          />
          <img
            id="drop-bar-level-img2"
            src="../../assets/images/skills/inter.png"
            alt=""
          />
          <img
            id="drop-bar-level-img3"
            src="../../assets/images/skills/expert.png"
            alt=""
          />
        </div>
        <div class="drop-level">
          <span>Beginner</span>
          <span>Intermediate</span>
          <span>Expert</span>
        </div>
      </div>
    </div>
  </div>
</div>
