<footer>
  <div class="footer-container b">
    <div class="footer-des">
      <i class="fas fa-code"></i> code by bala
      <span>
        <br />
      </span>
      <i class="fas fa-envelope"></i> kamandlabalashekhar@gmail.com
    </div>
    <div style="z-index: 1000" class="snackbar" id="move">
      <img src="assets/images/meWink.png" alt="" />
      <div>
        Hey! Ive got your message.
        <br />
        I'll get back to you ASAP.
      </div>
    </div>
    <span style="float: right">
      <i style="padding: 2px; margin: 4px" class="fas fa-mobile"></i>6303395354
    </span>
  </div>
</footer>
